{% extends "auctions/layout.html" %}

{% block title %}
    {{ listing.title }}
{% endblock %}

{% block body %}

    <!-- Card -->
    <div class="card mb-3 border-0 w-100 position-relative my-3">

        <!-- Watchlist -->
        {% if listing.owner == request.user %}
            <button class="btn btn-primary btn-sm disabled position-absolute rounded-0 z-1 opacity-100">Your Listing</button>
        {% else %}
            {% if watchlist %}
                <a class="btn btn-dark btn-sm rounded-0 position-absolute z-1" href="{% url 'watchlist' listing.id %}"><i class="fa fa-close"></i> Watchlist</a>
            {% else %}
                <a class="btn btn-dark btn-sm rounded-0 position-absolute z-1" href="{% url 'watchlist' listing.id %}"><i class="fa fa-plus"></i> Watchlist</a>
            {% endif %}
        {% endif %}

        <div class="row g-0">
            <!-- Card image -->
            <div class="col-md-6 border rounded-0 d-flex justify-content-center overflow-hidden shadow-sm position-relative" style="height: 30rem;">
                <i class="fa fa-caret-square-o-right position-absolute top-50 z-1 h3" style="right: 5px;" onclick="swipe_right()"></i>
                <i class="fa fa-caret-square-o-left position-absolute top-50 z-1 h3" style="left: 5px;" onclick="swipe_left()"></i>
                <img src="{{ listing.image.url }}" class="img-fluid imgs" alt="listing-image">
                <img src="{{ listing.second_image.url }}" class="img-fluid visually-hidden imgs" alt="listing-image">
                <img src="{{ listing.third_image.url }}" class="img-fluid visually-hidden imgs" alt="listing-image">
            </div>
            
            <!-- Card info -->
            <div class="col-md-6">
                <div class="card-body py-0 overflow-y-auto" style="height: 30rem;">
                    <h5 class="card-title">{{ listing.title }}</h5>
                    <p class="card-text my-0">{{ listing.description }}</p>
                    <hr>
                    <p class="card-text my-0"><small class="text-body-secondary">{{ listing.category }}</small></p>
                    <p class="card-text my-0"><small class="text-body-secondary">Created {{ listing.date_created }}</small></p>

                    <!-- Show listing ownership -->
                    <p class="card-text my-0">
                        <small class="text-body-secondary">
                            {% if listing.owner == request.user %}
                                Your listing
                            {% else %}
                                Owner {{ listing.owner }}
                            {% endif %}
                        </small>
                    </p>

                    <hr>

                    <!-- Show bidding status -->
                    <p class="card-text">
                        {% if current_bid %}
                            <span class="h4 font-monospace">${{ current_bid.amount }}</span> <small class="text-muted mx-2">current bid by {{ current_bid.bidder }}</small>
                        {% else %}
                            <span class="h4 font-monospace">${{ listing.starting_bid }}</span>
                        {% endif %}
                    </p>

                    <!-- Total bids -->
                    <p class="card-text text-muted mb-1">
                        {{ bids.count }} bid(s) so far. {% if current_bid.bidder == request.user %} Your bid is the current bid. {% endif %} 
                        {% if bids %}  <a class="card-link text-muted" id="bidlist-btn" style="cursor: pointer;">See all</a>{% endif %}
                    </p>
                    <ul class="visually-hidden" id="bidlist">
                        <li class="text-muted">{{ listing.owner }} created Auction for <span class="font-monospace">${{ listing.starting_bid }}</span> on {{ listing.date_created }} </li>
                        {% for bid in bids %}
                            <li class="text-muted">{{ bid.bidder }} placed a bid of <span class="font-monospace">${{ bid.amount }}</span> on {{ bid.date_created }}</li>
                        {% endfor %}
                    </ul>
                   
                    {% if request.user == listing.owner %}
                        <!-- Close bidding -->
                        <form action="{% url 'close_listing' listing.id %}" method="post" class="my-2">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary rounded-1">Close Listing</button>
                        </form>
                    {% elif request.user.is_authenticated %}
                        <!-- Place bidding -->
                        <form action="{% url 'bid' listing.id %}" method="post" class="my-2">
                            {% csrf_token %}
                            {{ placebid_form }}
                            <button type="submit" class="btn btn-primary my-1 rounded-1">Place Bid</button>
                        </form>
                    {% else %}
                        <h5 class="card-text my-3"><a href="{% url 'register' %}">Signup</a> to start bidding.</h5>
                    {% endif %}

                </div>
            </div>
            <!-- Card info end -->
        </div>
    </div>
    <!-- Card end -->

    <!-- Comments -->
    <h4 class="mt-5">Comments</h4>
    
    <!-- Add comment -->
    <form action="{% url 'add_comment' listing.id %}" method="post" class="mt-3 mb-3">
        {% csrf_token %}
        {{ comment_form }}
        <button type="submit" class="btn btn-sm btn-primary border-0 my-2">Comment</button>
    </form>

    {% include "auctions/comments.html" %}

{% endblock %}