{% extends "auctions/layout.html" %}

{% block title %}
    {{ listing.title }}
{% endblock %}

{% block body %}


    <div class="card mb-3 border-0 w-100 position-relative my-3">
        <button class="btn btn-danger btn-sm rounded-0 disabled position-absolute">Closed</button>
        <div class="row g-0">
            <!-- Card image -->
            <div class="col-md-6 border rounded-0 d-flex justify-content-center overflow-hidden" style="height: 30rem;">
                <img src="{% if listing.image %}{{ listing.image.url }}{% else %}/media/images/no-image.jpeg{% endif %}" class="img-fluid" alt="listing-image">
            </div>
            
            <!-- Card info -->
            <div class="col-md-6">
                <div class="card-body py-0 overflow-y-auto" style="height: 30rem;">
                    <h5 class="card-title">{{ listing.title }}</h5>
                    <p class="card-text my-0">{{ listing.description }}</p>
                    <hr>
                    <p class="card-text my-0"><small class="text-body-secondary">{{ listing.category }}</small></p>
                    <p class="card-text my-0"><small class="text-body-secondary">Created {{ listing.date_created }}</small></p>

                    <!-- Show listing ownership -->
                    <p class="card-text my-0">
                        <small class="text-body-secondary">
                            {% if listing.owner == request.user %}
                                Your listing.
                            {% else %}
                                Owner {{ listing.owner }}
                            {% endif %}
                        </small>
                    </p>

                    <hr>

                    <!-- Show bidding status -->
                    <p class="card-text">
                        {% if winner_bid %}
                            <span class="h4 font-monospace">${{ winner_bid.amount }}</span> <small class="text-muted mx-2">winner bid.</small>
                        {% else %}
                            <span class="h4 font-monospace">${{ listing.starting_bid }}</span> <small class="text-muted mx-2">no winner.</small>
                        {% endif %}
                    </p>
                    
                    <!-- Total bids -->
                    <p class="card-text text-muted mb-1">
                        {{ bids.count }} bid(s).
                        <a class="card-link text-muted" id="bidlist-btn" style="cursor: pointer;">See all</a>
                    </p>
                    <ul class="visually-hidden" id="bidlist">
                        {% for bid in bids %}
                            <li class="text-muted">{{ bid.bidder }} placed a bid of <span class="font-monospace">${{ bid.amount }}</span> on {{ bid.date_created }}</li>
                        {% endfor %}
                    </ul>

                    <!-- Show winner -->
                    {% if winner_bid %}
                        {% if winner_bid.bidder == request.user %} 
                            <h4 class="card-text">You have won this auction.</h4>
                            <p class="card-text">Contact owner at {{ listing.owner.email }}</p>
                        {% elif listing.owner == request.user %}
                            <h4 class="card-text">User '{{ winner_bid.bidder }}' has won this auction.</h4>
                            <p class="card-text">Contact winner at {{ winner_bid.bidder.email }}</p>
                        {% else %}
                            <h4 class="card-text">User '{{ winner_bid.bidder }}' has won this auction.</h4>
                        {% endif %}
                    {% endif %}
                   
                </div>
            </div>
            <!-- Card info end -->
        </div>
    </div>

    <!-- Comments -->
    <h4 class="mt-5">Comments</h4>
    
    {% include "auctions/comments.html" %}

{% endblock %}