{% extends "auctions/layout.html" %}

{% block title %}
Index
{% endblock %}

{% block body %}
    <h2>Active Listings</h2>

    <div class="row row-cols-1 row-cols-md-2 g-4">
        {% for auction in auctions %}
        <div class="col">
            <div class="card">
                <img src="{% if auction.image_url %}{{ auction.image_url.url }}{% endif %}" class="card-img-top" alt="auction-image">
                <div class="card-body">
                    <h5 class="card-title">{{ auction.title }}</h5>
                    <p class="card-text">{{ auction.description }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}