{% extends "auctions/layout.html" %}

{% block title %}
Index
{% endblock %}

{% block body %}
    

    <div class="row row-cols-2 position-relative">
        
        <div class="col col-2 border-end">
            <h4 class="mt-5">Categories</h4>
            <ul class="list-unstyled">
                {% for category in categories %}
                    <li class="my-3"><a href="">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <div class="col col-10">
            <h3 class="mt-3">Active Listings</h3>
            <div class="row row-cols-lg-4 row-cols-md-3 cols-sm-1 g-4">
                {% for auction, current_bid in zipped_list %}
                
                    <!-- Col -->
                    {% if not auction.is_closed %}

                        <div class="col">
                            <!-- Card -->
                            <div class="card h-100 border-0 my-3 position-relative">

                                {% if auction.owner == request.user %}
                                    <button class="btn btn-primary btn-sm disabled rounded-0 position-absolute">Your Listing</button>
                                {% endif %}

                                <!-- Card img -->
                                <div class="card-img-top shadow-sm border rounded-0 d-flex overflow-hidden" style="height: 16rem;">
                                    <img src="{% if auction.image %}{{ auction.image.url }}{% else %}/media/images/no-image.jpeg{% endif %}"
                                    alt="auction-image" class="img-fluid align-self-center">
                                </div>

                                <!-- Card body -->
                                <div class="card-body p-0 my-2">
                                    <a href="{% url 'view_listing' auction.id %}" class="card-link my-1">{{ auction.title }}</a>
                                    <p class="card-text my-0 text-overflow-hidden">{{ auction.description }}</p>
                                    <h5 class="card-text my-2">Current bid:
                                        {% if current_bid %} 
                                            <span class="font-monospace">${{ current_bid.amount }}</span>
                                        {% else %}
                                            <span class="font-monospace">${{ auction.starting_bid }}</span>
                                        {% endif %}
                                    </h5>
                                    <p class="card-text text-muted my-0"><small>Created {{ auction.date_created }}</small></p>
                                    <p class="card-text text-muted my-0"><small>Owner {{ auction.owner }}</small></p>
                                </div>
                            </div>
                            <!-- Card end -->
                        </div>

                    {% endif %}
                    <!-- Col end -->

                    {% empty %}

                    <h4 class="w-100 my-5 text-center">No active listings.</h4>

                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}