{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=1024, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
    <script defer src="{% static 'auctions/script.js' %}"></script>

    <title>{% block title %}Auctions{% endblock %}</title>
</head>

<body>

    <!-- Nav Start -->
    <nav class="navbar bg-light">
        <div class="container">
            <div class="d-flex w-100 justify-content-between px-2">
            {% if user.is_authenticated %}
                Signed in as: {{ request.user }}
                <a  href="{% url 'logout' %}">Logout</a>
            {% else %}
                Not signed in.
                <div class="nav-item">
                    <a class="px-2" href="{% url 'login' %}">Login</a>
                    <a href="{% url 'register' %}">Signup</a>
                </div>
            {% endif %}
            </div>
        </div>
    </nav>
    <hr class="my-0">
    <nav class="navbar navbar-expand-lg bg-light-subtle shadow-sm">
        <div class="container">
            <a class="navbar-brand" href="{% url 'index' %}">
                <h2>Auctions</h2>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-center gap-2">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'index' %}">Active Listings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'view_categories' %}">Categories</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{% url 'view_watchlist' %}">Watchlist</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{% url 'your_listings' %}">Your Listings</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{% url 'create_listing' %}">Create Listing</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <!-- Nav End -->

    <!-- Messages -->
    {% if messages %}
    {% for msg in messages %}
    <div class="my-0 alert alert-{% if msg.tags == 'error' %}danger{% else %}{{ msg.tags }}{% endif %} text-center border-0 rounded-0">
        <i class="fa fa-exclamation mx-2"></i> {{ msg }}
    </div>
    {% endfor %}
    {% endif %}
    <!-- Messages End -->

    <!-- Body -->
    <div class="container">
        {% block body %}
        {% endblock %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
</body>

</html>