{% extends "auctions/layout.html" %}

{% block title %}
{{ listing.title }}
{% endblock %}

{% block body %}

    <div class="card mb-3 border-0 w-100 position-relative">

        <!-- Watchlist -->
        {% if listing.owner == request.user %}
            <button class="btn btn-primary btn-sm disabled position-absolute rounded-0">Your Listing</button>
        {% else %}
            {% if watchlist %}
                <a class="btn btn-danger btn-sm rounded-0 position-absolute" href="{% url 'watchlist' listing.id %}"><i class="fa fa-close"></i> Watchlist</a>
            {% else %}
                <a class="btn btn-success btn-sm rounded-0 position-absolute" href="{% url 'watchlist' listing.id %}"><i class="fa fa-plus"></i> Watchlist</a>
            {% endif %}
        {% endif %}

        <div class="row g-0">
            <!-- Card image -->
            <div class="col-md-6 border rounded-0 d-flex justify-content-center overflow-hidden" style="height: 30rem;">
                <img src="{{ listing.image.url }}" class="img-fluid" alt="listing-image">
            </div>
            
            <!-- Card info -->
            <div class="col-md-6">
                <div class="card-body py-0 overflow-y-auto" style="height: 30rem;">
                    <h5 class="card-title">{{ listing.title }}</h5>
                    <p class="card-text my-0">{{ listing.description }}</p>
                    <hr>
                    <p class="card-text my-0"><small class="text-body-secondary">{{ listing.category }}</small></p>
                    <p class="card-text my-0"><small class="text-body-secondary">Created {{ listing.date_created }}</small></p>

                    <!-- Show listing ownership -->
                    <p class="card-text my-0">
                        <small class="text-body-secondary">{% if listing.owner == request.user %}Your listing{% else %}Owner {{ listing.owner }}{% endif %}</small>
                    </p>

                    <hr>

                    <!-- Show bidding status -->
                    <p class="card-text">
                        {% if current_bid %}
                            <span class="h4 font-monospace">${{ current_bid.amount }}</span> <small class="text-muted mx-2">current bid by {{ current_bid.bidder }}</small>
                        {% else %}
                            <span class="h4 font-monospace">${{ listing.starting_bid }}</span>
                        {% endif %}
                    </p>

                    <!-- Total bids -->
                    <p class="card-text text-muted mb-1">
                        {{ bids.count }} bid(s) so far. {% if current_bid.bidder == request.user %} Your bid is the current bid. {% endif %} 
                        <a href="#" class="card-link text-muted">See all</a>
                    </p>
                   
                    {% if request.user == listing.owner %}
                        <!-- Close bidding -->
                        <form action="{% url 'close_listing' listing.id %}" method="post" class="my-2">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary rounded-1">Close Listing</button>
                        </form>
                    {% else %}
                        <!-- Place bidding -->
                        <form action="{% url 'bid' listing.id %}" method="post" class="my-2">
                            {% csrf_token %}
                            {{ form }}
                            <button type="submit" class="btn btn-primary my-1 rounded-1">Place Bid</button>
                        </form>
                    {% endif %}
                </div>
            </div>
            <!-- Card info end -->
        </div>
    </div>

{% endblock %}