{% extends "auctions/layout.html" %}

{% block title %}
Watchlist
{% endblock %}

{% block body %}
    
    <h3 class="my-3">Watchlist</h3>

    {% for w in watchlist %}
    <div class="card mb-3 position-relative mx-auto overflow-hidden rounded-0 w-75">
        <a href="{% url 'watchlist' w.auction.id %}" class="btn btn-close btn-sm position-absolute" style="right: 0;"></a>
        <div class="row g-0">
            <div class="col-md-4 w-auto border-end" style="height: 10rem;">
                <img src="{{ w.auction.image.url }}" class="img-fluid" alt="listing-img" width="180">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <a href="{% url 'view_listing' w.auction.id %}" class="card-link">{{ w.auction.title }}</a>
                    <p class="card-text text-overflow-hidden">{{ w.auction.description }}</p>
                    <h5 class="card-text">List price: <span class="font-monospace">${{ w.auction.starting_bid }}</span></h5>
                    <p class="card-text"><small class="text-body-secondary">Created {{ w.auction.date_created }}</small></p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

{% endblock %}